In [1]:
#Q1
import pandas as pd

In [3]:
#head():display the first few rows of a DataFrame. 
df = pd.DataFrame({'x': [45, 46, 47], 'y': [48, 49, 50]})
print(df.head(2))

    x   y
0  45  48
1  46  49

In [5]:
#read_csv():read a CSV file and create a DataFrame object. 
df1 = pd.read_csv('data.csv')
print(df1)

    name         email_id  phone_number
0   sudh   sudh@gmail.com        943525
1  krish  krish@gmail.com       9786745

In [10]:
#pivot_table():create a pivot table from a DataFrame.
df2 = pd.DataFrame({'A': ['ford', 'must', 'lose', 'asap'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4]})
piv = df2.pivot_table(values='C', index='A', columns='B', aggfunc='mean')
print(piv)

B     one  two
A
asap  NaN  4.0
ford  1.0  NaN
lose  3.0  NaN
must  NaN  2.0

In [14]:
#groupby(): group the rows of a DataFrame based on one or more columns, and then apply an aggregation function to each group.
df3 = pd.DataFrame({'A': [17, 18, 19, 20], 'B': [41, 75, 96, 97]})
group = df3.groupby('A').sum()
print(group)

     B
A
17  41
18  75
19  96
20  97

In [21]:
#fillna()-Fill missing values in the 'Age' column with the mean age
df3['A'].fillna(df3['A'].mean(), inplace=True)
print(df3.head())

    A   B
0  17  41
1  18  75
2  19  96
3  20  97

In [22]:
#Q2
def reindex_dataframe(df):
    new_index = range(1, len(df) * 2, 2) 
    df = df.copy() 
    df.index = new_index
    return df

data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

new_df = reindex_dataframe(df)
print(new_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [24]:
#Q3
def calculate_sum_of_first_three(df):
    values_column = df['Values']
    sum_first_three = values_column.head(3).sum()
    print("Sum of the first three values:", sum_first_three)

data = {'Values': [150, 220, 530, 140, 650]}
df = pd.DataFrame(data)

In [32]:
data = {'Values': [10, 20, 30, 40, 50]}
df4 = pd.DataFrame(data)

In [29]:
def calculate_sum_of_first_three(df):
    values_column = df['Values']
    sum_first_three = values_column.head(3).sum()
    print("Sum of the first three values:", sum_first_three)

In [33]:
calculate_sum_of_first_three(df4)

Sum of the first three values: 60

In [37]:
#Q4
def add_word_count(df5):
    df5['Word_Count'] = df5['Text'].apply(lambda x: len(str(x).split()))
    return df5

df5 = pd.DataFrame({'Text': ['pwskills', 'assignment']})
df5 = add_word_count(df5)
print(df5)

         Text  Word_Count
0    pwskills           1
1  assignment           1

#Q5
DataFrame.size and DataFrame.shape are both attributes in Pandas DataFrames, but they provide different kinds of information about the DataFrame's dimensions:

DataFrame.size:
This attribute returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns.
It provides a single integer value representing the total number of elements, regardless of how they are arranged.
The size attribute gives you the total count of cells in the DataFrame.

DataFrame.shape:
This attribute returns a tuple representing the dimensions of the DataFrame.
The tuple contains two values: the number of rows and the number of columns, respectively.
It provides a clearer picture of the DataFrame's structure.

#Q6
pd.read_excel() function is used to read an excel file.

In [38]:
#Q7
def add_username(df6):
    df6['Username'] = df6['Email'].apply(lambda x: x.split('@')[0])
    return df6

df6 = pd.DataFrame({'Email': ['sach@gmail.com', 'sona@egmail.com']})
df6 = add_username(df6)
print(df6)

             Email Username
0   sach@gmail.com     sach
1  sona@egmail.com     sona

In [41]:
#Q8

def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2